[Unit]
Description=NGINX Web Server
After=network.target syslog.target

[Service]
Type=forking
PIDFile=/var/run/nginx.pid
ExecStart=/usr/local/sbin/nginx
ExecReload=/usr/local/sbin/nginx -s reload
ExecStop=/usr/local/sbin/nginx -s quit

[Install]
WantedBy=multi-user.target

