[Unit]
Description=PHP-FPM Application Manager (PHP7)

[Service]
Type=forking
PIDFile=/usr/local/php/var/run/php-fpm.pid
ExecStart=/usr/local/php/sbin/php-fpm --daemonize --fpm-config /usr/local/php/etc/php-fpm.conf --pid=/usr/local/php/var/run/php-fpm.pid
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=process
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target

