
#
# CLIENT SETUP
#

[client]
port = 3306
socket = /tmp/mysql.sock

#
# SERVER SETUP
#

[mysqld]

# Connection info
user = mysql
#pid-file = /var/run/mysql/mysql.pid # Set in systemctl service file.
socket = /tmp/mysql.sock
port = 3306

# Directory paths
basedir = /usr/local/mysql
datadir = /var/local/mysql/data
tmpdir = /tmp
#plugin_dir = /usr/local/mysql/lib/mysql/plugin

# Error log
log_error = /var/log/mysql/error.log


