# http://mysqlserverteam.com/mysql-5-7-native-systemd-support/
# https://dev.mysql.com/doc/refman/5.7/en/using-systemd.html#systemd-overview

[Unit]
Description=MySQL Database Server
After=network.target syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User=mysql
Group=mysql
Type=forking

# Execute pre and post scripts as root
PermissionsStartOnly=true

PIDFile=/var/run/mysql.pid
ExecStart=/usr/local/mysql/bin/mysqld --daemonize --pid-file=/var/run/mysql.pid --basedir=/usr/local/mysql --datadir=/var/local/mysql/data --plugin-dir=/usr/local/mysql/lib/mysql/plugin --user=root --open-files-limit=32768 --socket=/tmp/mysql.sock --port=3306
Restart=on-failure
RestartPreventExitStatus=1
PrivateTmp=false

# Always restart when mysqld exits with exit code of 16. This special exit code
# is used by mysqld for RESTART SQL.
RestartForceExitStatus=16

# Set enviroment variable MYSQLD_PARENT_PID. This is required for restart.
Environment=MYSQLD_PARENT_PID=1

RuntimeDirectory=mysqld
RuntimeDirectoryMode=755